<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户信息</title>
    <link rel="stylesheet" th:href="@{/css/utils/sweetalert2.min.css}">
    <link rel="stylesheet" th:href="@{/css/utils/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/utils/NProgress.css}">
    <link th:href="@{/css/index/style.css}" rel="stylesheet">
    <link th:href="@{/css/index/default.css}" id="theme" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index/spinners.css}">
    <link rel="stylesheet" th:href="@{/css/utils/font-awesome/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/index/lc_switch.css}">
    <script type="text/javascript" th:src="@{/js/utils/love.js}"></script>
    <script th:src="@{/js/utils/jquery.js}"></script>
    <script th:src="@{/js/upload/aes.js}"></script>
    <script th:src="@{/js/upload/pad-zeropadding.js}"></script>
    <script th:src="@{/js/upload/md5.js}"></script>
    <script th:src="@{/js/upload/Base64.js}"></script>
    <script th:src="@{/js/utils/sweetalert2.js}"></script>
    <script th:src="@{/js/upload/NProgress.js}"></script>
    <script th:src="@{/js/upload/jsencrypt.js}"></script>
    <script th:src="@{/js/upload/lc_switch.js}"></script>
    <script type="text/javascript">
    function search() {
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "/user/search",
            dataType: "json",
            data: {
                contents: $("#contents").val(),
            },
            success: function (data) {
                if (data.flag == 1) {
                    window.location.href = "/user/search";
                } else {
                    swal({
                        text: data.msg,
                        type: "info",
                        confirm: 'ok',
                        confirmButtonColor: '#fd2c45',
                    });
                }
            },
        });
    }

    function buf2hex(buffer) { // buffer is an ArrayBuffer
        return Array.prototype.map.call(new Uint8Array(buffer), x => ('00' + x.toString(16)).slice(-2)).join('');
    }
    //加密aes算法
    function Encrypt(word,randomKey){
        var key = CryptoJS.enc.Utf8.parse(randomKey);
        var srcs = CryptoJS.enc.Utf8.parse(word);
        var encrypted = CryptoJS.AES.encrypt(srcs, key, {
            mode : CryptoJS.mode.ECB,
            padding : CryptoJS.pad.Pkcs7
        });
        var reg = new RegExp('/', "g");
        return encrypted.toString().replace(reg, "#");
    }
    //随机生成字符串
    function randomString(len) {
        len = len || 32;
        var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
        var maxPos = $chars.length;
        var pwd = '';
        for (var w= 0; w < len; w++) {
            pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
        }
        return pwd;
    }
    // 对字符串进行编码
    function encode(str){
        var encode = encodeURI(str);
        // 对编码的字符串转化base64
        var base64 = btoa(encode);
        return base64;
    }

    //读取文件上传进度
    var i = -1;
    var shardSize =  512 * 1024;    //以512KB为一个分片
    var succeed = 0; //目前完成进度
    /* var dataBegin;  //开始时间
     var dataEnd;    //结束时间*/
    var action = false;
    var page = {
        init: function () {
            $("#upload").click(function () {
                /*dataBegin = new Date();*/
                var file = $("#i-file")[0].files[0];  //文件对象
                if (file == null)
                {
                    swal({
                        text: "No File",
                        type: "info",
                        confirm:'ok',
                        confirmButtonColor: '#5a84fd',
                    });
                }
                isUpload(file);
            });
        }
    };
    $(function () {//梦开始的地方
        page.init();
    });
    function isUpload (file) {
        //构造一个表单，FormData是HTML5新增的
        var form = new FormData();
        var r = new FileReader();
        r.readAsBinaryString(file);
        $(r).load(function(e){
            var blob = e.target.result;
            var md5 = hex_md5(blob);
            var status = ($(".lcs_check").is(':checked')) ? 'checked' : 'unchecked';
            var scope =0;
            if (status === "checked"){
                scope = 1;
            }else{
                scope = 0;
            }
            form.append("md5", md5);
            //Ajax提交
            $.ajax({
                url: "/file/isUpload",
                type: "POST",
                data: form,
                async: true,        //异步
                processData: false,  //很重要，告诉jquery不要对form进行处理
                contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                success: function(data){
                    var uuid = data.uuid;
                    var rsaKey = data.RsaPublicKey;
                    if (data.flag == "0") {
                        //没有上传过文件
                        realUpload(file, uuid, md5, data.date, rsaKey,scope);
                    } else if(data.flag == "1") {
                        //已经上传部分
                        realUpload(file, uuid, md5, data.date, rsaKey,scope);
                    } else if(data.flag == "2") {
                        //文件已经上传过
                        /* alert("文件已经上传过,秒传了！！");*/
                        swal({
                            text: "Already Uploaded",
                            type: "success",
                            confirm:'ok',
                            confirmButtonColor: '#5a84fd',
                        })
                    }
                },error: function(XMLHttpRequest, textStatus, errorThrown) {
                    swal({
                        text: "Server Fail",
                        type: "error",
                        confirm:'ok',
                        confirmButtonColor: '#fd2c45',
                    });
                }
            })
        })
    };

    function realUpload(file, uuid, md5, date, rsaKey,scope) {
        var name = file.name;
        var  size = file.size;
        var shardCount = Math.ceil(size / shardSize);  //总片数
        NProgress.configure({ trickle: false });
        NProgress.start();
        if (i > shardCount) {
            return;
        } else {
            if (!action) {
                i += 1;  //只有在检测分片时,i才去加1; 上传文件时无需加1
            }
        }
        //计算每一片的起始与结束位置
        var start = i * shardSize;
        var end = Math.min(size, start + shardSize);
        //构造一个表单，FormData是HTML5新增的
        var form = new FormData();
        if (!action) {
            form.append("action", "check");  //检测分片是否上传
        } else {
            var key = encode(randomString(16));
            console.log("本次生成的key： " + key);
            var RsaEncrypt = new JSEncrypt();
            RsaEncrypt.setPublicKey(rsaKey);
            var rsaEncrypted = RsaEncrypt.encrypt(key);
            console.log("RSA加密后的key： " + rsaEncrypted);
            var temp=file.slice(start,end);
            var reader = new FileReader();

            reader.readAsArrayBuffer(temp);
            reader.onload = function(e) {
                var buffer = e.target.result;//内容就在这里
                var hex = buf2hex(buffer);
                var encrypt = Encrypt(hex, key);

                form.append("fileEncrypt", encrypt);
                form.append("key", rsaEncrypted);
                form.append("action", "upload");  //直接上传分片
            };
        }
        form.append("uuid", uuid);
        form.append("md5", md5);
        form.append("date", date);
        form.append("name", name);
        form.append("size", size);
        form.append("total", shardCount);  //总片数
        form.append("index", i+1);        //当前是第几片
        form.append("scope",scope);

        var index = i+1;
        //按大小切割文件段　　
        var data = file.slice(start, end);
        var r = new FileReader();
        r.readAsBinaryString(data);
        $(r).load(function (e) {
            var bolb = e.target.result;
            var partMd5 = hex_md5(bolb);
            form.append("partMd5", partMd5);
            //Ajax提交
            $.ajax({
                url: "/file/upload",
                type: "POST",
                data: form,
                async: true,        //异步
                processData: false,  //很重要，告诉jquery不要对form进行处理
                contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                success: function (data) {
                    var fileuuid = data.uuid;
                    var flag = data.flag;
                    if (flag != "2") {
                        //服务器返回该分片是否上传过
                        if (flag == "0") {
                            //未上传,继续上传
                            action = true;
                        } else if (flag == "1") {
                            //已上传
                            action = false;
                            ++succeed;
                            NProgress.set(succeed/shardCount);
                        }
                        realUpload(file, uuid, md5, date, rsaKey,scope);
                    } else {
                      /*  ++succeed;
                        NProgress.set(succeed/shardCount);*/
                        //服务器返回分片是否上传成功
                      /*  if (succeed  == shardCount) {*/
                            /* dataEnd = new Date();*/
                            NProgress.done();
                            i=-1;
                            succeed=0;
                            action=false;
                            swal({
                                text: "Upload successfully",
                                type: "success",
                                confirm:'ok',
                                confirmButtonColor: '#5a84fd',
                            });
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    /*alert("服务器出错!");*/
                    swal({
                        text: "Server Fail",
                        type: "error",
                        confirm:'ok',
                        confirmButtonColor: '#fd2c45',
                    });
                }
            });
        })
    }
    </script>
</head>
<body class="fix-header card-no-border fix-sidebar">

<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Loading</p>
    </div>
</div>

<div id="main-wrapper">
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.github.com"/>
                <span>
                  <i class="fa fa-github fa-2x" style="color: #5a84fd"></i>
                    </span>
            </div>
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-bars"></i></a> </li>
                    <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-search"></i></a>
                        <form class="app-search" onsubmit="search()">
                            <input type="text" class="form-control" id="contents" placeholder="Search & enter">
                            <a class="srh-btn">
                                <i class="fa fa-times"></i>
                            </a>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item dropdown u-pro">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="round round-success" th:text="${session.index}"></span>&nbsp;&nbsp;<span class="hidden-md-down" th:text="${session.user.username}"></span> </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li>
                        <a class="waves-effect waves-dark" th:href="@{/user/index}" aria-expanded="false"><i class="fa fa-bar-chart" style="color: #51b2fd"></i><span class="hide-menu" >数据分析</span></a>
                    </li>
                    <li >
                        <a class="waves-effect waves-dark" th:href="@{/user/information}" aria-expanded="false"><i class="fa fa-user-circle-o" style="color: #ccbd53"></i><span class="hide-menu">个人信息</span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" th:href="@{/user/download}" aria-expanded="false"><i class="fa fa-cloud-download" style="color: #8acbb5"></i><span class="hide-menu">我的文件下载</span></a>
                    </li>
                    <li class="active">
                        <a class="waves-effect waves-dark" th:href="@{/user/toUpload}" aria-expanded="false"><i class="fa fa-cloud-upload" style="color: #5e7acc"></i><span class="hide-menu">文件上传</span></a>
                    </li>
                    <li> <a class="waves-effect waves-dark" th:href="@{/user/hotFile}" aria-expanded="false"><i class="fa fa-heart" style="color: #d73838"></i><span class="hide-menu">查看热门文件</span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" th:href="@{/user/filemanager}" aria-expanded="false"><i class="fa fa-reorder" style="color: #0c0c0c"></i><span class="hide-menu">已上传文件管理</span></a>
                    </li>
                    <li> <a class="waves-effect waves-dark" th:href="@{/index}" aria-expanded="false"><i class="fa fa-globe" style="color: #c57d4f"></i><span class="hide-menu">论坛社区</span></a>
                    </li>
                    <shiro:hasAnyRoles name="SUPERVIP,ADMIN">
                        <li>
                            <a class="waves-effect waves-dark" th:href="@{/admin/index}" aria-expanded="false"><i class="fa fa-user-plus" style="color: #a056cb"></i><span class="hide-menu">管理员中心</span></a>
                        </li>
                    </shiro:hasAnyRoles>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">文件上传</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">上传</li>
                    </ol>
                </div>
                <div class="col-md-7 align-self-center">
                    <a th:href="@{/user/logout}" class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down">Logout</a>
                </div>
            </div>
            <div class="row">
                 <div class="col-12">
                     <div class="card">
                         <div class="card-body">
                             <h4 class="card-title">File Upload</h4>
                             <div class="table-responsive">
                                 <div class="container">
                                     <div class="form-group">
                                         <div class="col-sm-6 ">
                                             <div class="input-group">
                                                 <input id='location' class="form-control" onclick="$('#i-file').click();">
                                                 <label class="input-group-btn">
                                                     <input type="button" id="i-check" value="浏览文件" class="btn btn-primary" onclick="$('#i-file').click();"/>
<!--                                                            <button type="button" class="btn btn-primary" id="upload" >Upload</button>-->
                                                 </label>
                                             </div>
                                         </div>
                                         <input type="file" name="file" id='i-file' onchange="$('#location').val($('#i-file').val());" style="display: none">
                                     <div>&nbsp;
                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     <input type="checkbox" id="check" name="check" value="0" class="lcs_check" autocomplete="off"/>
                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     <button type="button" class="btn btn-primary" id="upload" >Upload</button>
                                     </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/index/popper.min.js}"></script>
<script th:src="@{/js/utils/bootstrap.min.js}"></script>
<script th:src="@{/js/index/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/js/index/waves.js}"></script>
<script th:src="@{/js/index/sidebarmenu.js}"></script>
<script th:src="@{/js/index/custom.min.js}"></script>
<script type="text/javascript">
$(document).ready(function (e) {
    $('input').lc_switch();
// triggered each time a field changes status
    $('body').delegate('.lcs_check', 'lcs-statuschange', function() {
        var status = ($(this).is(':checked')) ? 'checked' : 'unchecked';
        console.log('field changed status: '+ status );
    });

    // triggered each time a field is checked
    $('body').delegate('.lcs_check', 'lcs-on', function() {
        console.log('field is checked');
    });


    // triggered each time a is unchecked
    $('body').delegate('.lcs_check', 'lcs-off', function() {
        console.log('field is unchecked');
    });
});
</script>
</body>

</html>
