<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centerm.fud_demo.dao.UserDao">
    <select id="findByUsername" resultType="com.centerm.fud_demo.entity.User" parameterType="string">
        SELECT fud.user.*
        FROM fud.user
        WHERE fud.user.username=#{username}
    </select>
    <insert id="createUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.centerm.fud_demo.entity.User">
        INSERT INTO fud.user(username,password,create_time,state,role_id)
        VALUES (#{username},#{password},now(),0,1)
    </insert>
    <update id="updateUser" parameterType="com.centerm.fud_demo.entity.User">
        UPDATE fud.user
        SET fud.user.password=#{password}
        WHERE fud.user.id=#{id}
    </update>
    <select id="findRoles" resultType="string" parameterType="string">
      SELECT r.role_name
      FROM fud.role r, fud.user u
      WHERE u.username=#{username} AND u.role_id=r.id
    </select>
</mapper>